<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Session Sample</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>Main Page</h2>

    @RenderBody()

</body>
</html>
